<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/mage">Skywrath Mage Page</a>
    <a href="/braker">Spirit Breaker Page</a>
    <a href="/elder">Elder Titan Page</a>
    <a href="/omnik">Omniknight Page</a>
  </div>

    <h1><%= title %></h1>
    <p><img src="<%= picture %>" alt="" align="top" /><%= about %></p>

</html>
